<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="EventHubConnectionString"
			 value="Endpoint=sb://smartcafeeh-ns.servicebus.windows.net/;SharedAccessKeyName=SendAndListenPolicy;SharedAccessKey=EMZmvA3HQzK7vSltYr5MWG2DQ5ZNbIYibW5mFduanpY=;EntityPath=smartcafeeh"/>-->
		<add key="EventHubConnectionString"
			 value="Endpoint=sb://smartcafeeh-ns.servicebus.windows.net/;SharedAccessKeyName=SendAndListenPolicy;SharedAccessKey=2/N/0NRpEKNDGJQRE4W+Jmf6e6LoHxyn90zjxaSMKFo=;EntityPath=smartcafeeh_2partitions"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
